{% extends 'base.html' %}

{% block titles %}
    <div class="jumbotron jumbotron-fluid"style="background-color:#aaffff">
        <div class="container">
		
            <h1 id="FutureSee" class="display-4">Home Page</h1>
            <p class="lead">This is the heading section</p>
        </div>
    </div>
{% endblock %}

{% block results %}
	
	 Branding/your company name
Pretty/professional look to this Homepage, info about business, etc - make it slick

Explain the process, include a diagram? Warn them to have a tape measure handy to measure the area?

{% endblock %}

	   
 